@charset "UTF-8";

@-ms-viewport	{width: device-width;}

a:visited, a:link {
	color: blue;
}
a:hover, a:active {
	color: red;
}

body	{margin: 0;
	background-color: #667788;
	font-family: 'メイリオ', 'Hiragino Kaku Gothic Pro', sans-serif;}

h1, h2, h3, h4, h5, h6	{font-weight: normal;}


/* ヘッダー */
.header	{padding: 10px 0 0 0;
	background-color: #fff;}

.header h1	{margin: 0 0 0 6px;
	line-height: 1;}

.header h1 a	{color: #000;
border-style:none;
	text-decoration: none;}

.header .logo	{margin: 0 10px 0 0;
	border: none;}

.header .logoImg	{float: left;}

.header .company	{float: right;
	margin: 20px;
	font-size: 22px;
	color: #000;
	line-height: 1;}

.header:after	{content: "";
	display: block;
	clear: both;}
.header	{*zoom: 1;}


/* メニュー（ナビゲーションメニュー） */
.menu	{margin-bottom: 20px;
	padding: 0;
	background-color: #5e6d7d;}

.menu ul,
.menu ol	{margin: 0;
	padding: 0;
	font-size: 12px;
	line-height: 1.4;
	list-style: none;}

.menu li a	{display: block;
	padding: 8px 6px 8px 14px;
	color: #fff;
	text-decoration: none;}

.menu li a:hover	{background-color: #768698;
/*	font-weight: bold; */
	color: #fff;}

.menu li	{float: left;}

.menu ul:after,
.menu ol:after	{content: "";
	display: block;
	clear: both;}
.menu ul,
.menu ol	{*zoom: 1;}


/* 記事 */
.entry	{padding: 0px;
	font-size: 14px;}
/*
.entry img	{max-width: 100%;
	height: auto;
	margin: 0 0 30px 0;
	vertical-align: bottom;}
*/
.entry img	{max-width: 100%;
	height: auto;}
.entry h1	{margin: 0 0 20px 0;
	font-size: 26px;
	line-height: 1.2;}

.entry h2	{margin: 0 0 10px 0;
	font-size: 24px;
	line-height: 1.2;}

.entry h3	{margin: 28px 0 8px 0;
	font-size: 20px;
	line-height: 1.2;}

.entry h4	{margin: 20px 0 8px 0;
	font-size: 18px;
	line-height: 1.2;}

.entry p	{margin: 0 0 20px 0;
	line-height: 1.6;}

.entry .added	{margin: 0 0 20px 0;}

.entry .flickr	{float: right;
	margin: 0 0 20px 0;
	font-size: 12px;
	line-height: 1;}

.entry:after	{content: "";
	display: block;
	clear: both;}
.entry	{*zoom: 1;}

.warning {
	border: thin solid red;
	padding: 4px;
	background-color: #FFEEEE;
	color: red;
	margin: 3px 0 15px 0;
}

/* Ｄ２: 企業概要 */
.entry2	{margin-bottom: 40px;
	padding: 0;}

.entry2 h2 a	{margin: 0;
	display: block;
	font-size: 20px;
	line-height: 1.2;
	color: #fff;
	text-decoration: none;}

.entry2 a:before	{position: relative;
	right: 10px;
	top: 50%;
	content: '\f054';
	margin: -8px 0 0 0;
	color: #888;
	font-family: 'FontAwesome';
	font-size: 16px;
	line-height: 1;}

.entry2 p	{margin: 0 0 10px 0;
	font-size: 14px;
	line-height: 1.6;}


/* 枠の設定 */
.entry2 h2	{padding: 10px;
	background-color: #5e577b;
	color: #fff;}


/* Ｄ１: 新着情報メニュー */
.new	{margin-bottom: 30px;
	padding: 0;}

.new h2	{margin: 40px 0 0 0;
	font-size: 18px;
	line-height: 1.1;}

.new ul,
.new ol	{margin: 0;
	font-size: 15px;
	line-height: 1.4;
	list-style: none;
	display: block;
	padding: 4px 5px 10px 5px;
	color: #000;
	text-decoration: none;}

/*
.new li a	{display: block;
	padding: 10px 5px 10px 5px;
	color: #000;
	text-decoration: none;}

.new li a:hover	{background-color: #eee;}*/

.new time	{float: left;
	border: none;}

.new p	{margin: 0 0 0 110px;}

.new .desc	{color: #666;
	font-size: 12px;}
/*
.new a:after	{content: "";
	display: block;
	clear: both;}
.new a	{*zoom: 1;}
*/

/* 縦に並べたリンクを区切る罫線 */
.new li {border-bottom: solid 1px #aaa;}



/* 枠の設定 */
.new h2	{padding: 8px 0 8px 10px;
	background-color: #5e577b;
	color: #fff;}



/* メニュー */
.idxMenu	{margin-bottom: 30px;
	padding: 0;}

.idxMenu a	{
	font-size: 18px;
	line-height: 1.4;
	position: relative;
	display: block;
	margin: 0 0 0px 0;
	padding: 8px 30px 8px 10px;
	background-color: #5e577b;
	color: #fff;
	text-decoration: none;}

.idxMenu a:hover	{background-color: #8e88aa;}

.idxMenu a:before	{position: absolute;
	right: 10px;
	top: 50%;
	content: '\f054';
	margin: -8px 0 0 0;
	color: #fff;
	font-family: 'FontAwesome';
	font-size: 18px;
	line-height: 1;}


.idxMenu p	{margin: 0 0 10px 0;
	font-size: 14px;
	line-height: 1.6;}



/* ラベル */
.lb	{display: inline-block;
	padding: 2px 15px 2px 15px;
	border-radius: 4px;
	background-color: #006388;
	color: #fff;
	font-size: 13px;
	text-decoration: none;
	line-height: 1.2;}

.lb:hover,
.lb:focus	{outline: none;}

.added a:link, .added a:visited {
	color: #fff;
}

.entry .explain {
	padding: 4px;
	margin: 8px 0 8px 0;
	background-color: #d6d6f3;
}


/* メニュー（サブメニュー） */
.submenu	{padding: 20px;
	background-color: #dfe3e8;}

.submenu h3	{margin: 0 0 10px 0;
	font-size: 18px;
	line-height: 1.2;}

.submenu ul,
.submenu ol	{margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.4;
	list-style: none;}

.submenu li a	{position: relative;
	display: block;
	padding: 5px 5px 5px 25px;
	color: #000;
	text-decoration: none;}

.submenu li li a	{padding-left: 40px;}

.submenu li a:hover	{background-color: #fec;}

.submenu li a:before	{position: absolute;
	left: 5px;
	top: 8px;
	content: '\f061';
	color: #8abc60;
	font-family: 'FontAwesome';
	font-size: 12px;
	line-height: 1;}

.submenu li li a:before	{
	left: 20px;
	color: #f80;}

.submenu .current {background-color: #e0e0e0;
	/*text-decoration: underline;*/}


/* 枠＋見出しの設定（サブメニュー） */
.submenu	{margin-bottom: 30px;
	padding: 0;
	border: solid 1px #aaa;
	border-left: none;
	border-right: none;
	background-color: #fff;}

.submenu > h3	{margin: 0;
	padding: 10px;
	border-bottom: solid 1px #aaa;
	background-color: #fff;
	font-size: 18px;}

.submenu > p	{margin: 10px;}

.tb1 {
	border-collapse: collapse;
	border: 1px solid #BBBBBB;
}
.tb1 th {
	text-align: center;
	font-weight: normal;
	background-color: #EBEBEB;
	border: 1px solid #BBBBBB;
}
.tb1 td {
	border: 1px solid #BBBBBB;
}

.box1 {
	border: thin solid #808080;
	padding: 4px;
	background-color: #EBEBEB;
	margin: 3px;
	overflow: auto;
}
.boxPre {
	border: thin solid #808080;
	padding: 4px;
	background-color: #EBEBEB;
	margin: 3px;
	overflow: auto;
	font-size: 100%;
}
.style1 {
	color: #0000FF;
}
.style2 {
	border: 1px solid #BBBBBB;
}
.style3 {
	color: #008000;
}
.style4 {
	color: #FF0000;
}
.style5 {
	color: #0000FF;
}
.style6 {
	color: #0000FF;
	text-decoration: underline;
	border: 1px solid #BBBBBB;
}
.style7 {
	border-width: 1px;
	background-color: #EBEBEB;
}
.style9 {
	color: #0000FF;
	text-decoration: underline;
}

/* フッター */
.footer	{padding: 10px 0 10px 0;
	background-position: center top;
	text-align: center;
	border-top: solid 1px #aaa;}

.footer p	{margin: 0 0 3px 0;
	font-size: 12px;
	line-height: 1.4;}

.footer a	{color: #666;
	text-decoration: none;}


/* コンテナ */
.container	{
	max-width: 1024px;
	margin: 0 auto;
	background-color: #fff;
	padding: 0}

.cols	{padding: 0 10px 0 10px;}


@media (min-width: 768px) {

/* 段組み */
.col	{float: left;
	width: 48.5%;
	margin-left: 3%;
	*clear: right;}

.col:first-child	{margin-left: 0;}

.cols:after	{content: "";
	display: block;
	clear: both;}
.cols	{*zoom: 1;}


/* 段ごとの横幅 */
.col:first-child	{width: 70%;}

.col:first-child + .col	{width: 27%;}

} /* @media */


@media (min-width: 500px) {

/* 段組み */
.idxCol	{float: left;
	width: 48.5%;
	margin-left: 3%;
	*clear: right;}

.idxCol:first-child	{margin-left: 0;}

.idxCols:after	{content: "";
	display: block;
	clear: both;}
.idxCols	{*zoom: 1;}


/* 段ごとの横幅 */
.idxCol:first-child	{width: 48%;}

.idxCol:first-child + .idxCol	{width: 48%;}

} /* @media */
