doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Yuimarl
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="css/style3.css")
    link(rel="icon" type="image/x-icon" href="static/favicon.ico")
  body
    main
      .container
        .row
          .col-md-1
          .col.col-md-10
            include includes/logo.pug
            include includes/nav.pug

            .row
              .col-md-9
                .row
                  .col
                    h2.pt-3.pb-1 開発情報
                    p 工事中
                    h3 システムの仕様
                    hr
                    h4 ユーザー認証
                    p 以下のいずれかのメールアドレスまたはアカウントでログインする。
                    ul
                      li メールアドレス
                      li Google
                      li Facebook
                      li X
                      li Github
                      li Apple
                      li Yahoo!
                    p 利用規約に合意したら、システムのユーザーとして登録される。
                    hr
                    h4 プロジェクト
                    ul
                      li プロジェクトを作成したユーザーがオーナーになる。
                      li 一人のユーザーが登録できるのは、最大で10個のプロジェクト。
                      li 登録済みのユーザーを検索して、プロジェクトのメンバーとして登録することができる。メンバーには、オーナー/管理者/メンバー/閲覧者のいずれかのロールを付与する。
                      li ロールが付与されていないユーザーは、閲覧も更新もできない。
                      li １つのプロジェクトには、（オーナーを含めて）最大で20人のメンバーを追加することができる。
                      li 21人以上のユーザーを追加したい場合は、有料での対応となる。
                    h6 ロールの権限
                    table.table.table-bordered
                      tr
                        th 機能
                        th オーナー
                        th 管理者
                        th メンバー
                        th 閲覧者
                      tr
                        td プロジェクトを削除
                        td 〇
                        td ×
                        td ×
                        td ×
                      tr
                        td メンバーを追加
                        td 〇
                        td 〇
                        td ×
                        td ×
                      tr
                        td メンバー情報を閲覧
                        td 〇
                        td 〇
                        td 〇
                        td 〇
                      tr
                        td メンバー情報を更新
                        td 〇
                        td 〇
                        td ×
                        td ×
                      tr
                        td メンバーを削除
                        td 〇
                        td 〇
                        td ×
                        td ×
                      tr
                        td チケットを作成
                        td 〇
                        td 〇
                        td 〇
                        td ×

                    hr
                    h4 チケット
                    ul
                      li チケットには、接頭辞＋連番のIDが付与される。
                      li １つのプロジェクトには、最大で1000個のチケットを作成することができる。（削除したチケットも1個とカウントされる）
                      li 1001個以上のチケットを作成したい場合は、有料での対応となる。
                    h6 ロールの権限
                    table.table.table-bordered
                      tr
                        th 機能
                        th 作成者
                        th 担当者
                        th オーナー
                        th 管理者
                        th メンバー
                        th 閲覧者
                      tr
                        td チケットを閲覧
                        td 〇
                        td 〇
                        td 〇
                        td 〇
                        td 〇
                        td 〇
                      tr
                        td チケットを更新
                        td 〇
                        td 〇
                        td 〇
                        td 〇
                        td ×
                        td ×
                      tr
                        td コメントを追加
                        td 〇
                        td 〇
                        td 〇
                        td 〇
                        td 〇
                        td ×
                      tr
                        td チケットを削除
                        td 〇
                        td ×
                        td 〇
                        td 〇
                        td ×
                        td ×

              .col-md-3
                .submenu.mt-3
                  h3 CONTENTS
                  ul
                    li
                      a(href="https://mnitta220.github.io/") 新田システム事務所
                    li
                      a(href="index2.html") ホーム
                      ul
                        li
                          a(href="devsetup.html") 開発環境構築
                        li
                          a(href="deploy.html") 運用環境構築
                        li
                          a.current(href="develop.html") 開発情報
                          ul
                            li
                              a(href="database.html") データベース
                        li
                          a(href="howtouse.html") 使い方
                        li
                          a(href="agreement.html") 利用規約

            include includes/footer.pug
          .col-md-1

    script(src="js/bootstrap.bundle.min.js")
