doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Yuimarl
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="css/style3.css")
    link(rel="icon" type="image/x-icon" href="static/favicon.ico")
  body
    main
      .container
        .row
          .col-md-1
          .col.col-md-10
            include includes/logo.pug
            include includes/nav.pug

            .row
              .col-md-9
                section.pt-3
                  h2.pb-1 開発環境構築
                  hr
                  section.pb-3
                    h3 前提条件
                    p Yuimarl の開発を行うためには、以下のソフトウェアが必要です。
                    ul
                      li
                        a(href="https://git-scm.com/" target="_blank") Git
                      li
                        a(href="https://www.docker.com/products/docker-desktop/" target="_blank") Docker Desktop
                      li
                        a(href="https://www.rust-lang.org/tools/install" target="_blank") Rust
                      li
                        a(href="https://cloud.google.com/sdk/docs/install?hl=ja" target="_blank") gcloud CLI
                      li
                        a(href="https://code.visualstudio.com/" target="_blank") VSCode
                      li
                        a(href="https://github.com/pugjs/pug-cli" target="_blank") pug-cli
                  hr
                  section.pb-3
                    h3 運用環境の構築
                    p
                      | 開発を行う前に、
                      a(href="deploy.html") 運用環境構築
                      | を実行して、開発用の Firebase と Cloud Run の環境を構築してください。
                  hr
                  section.pb-3
                    h3 リポジトリのクローン
                    p 次のコマンドで、Yuimarl の Github リポジトリをクローンしてください。
                    code
                      | git clone https://github.com/mnitta220/yuimarl.git
                  hr
                  section.pb-3
                    h3 VSCode の起動
                    p 次のコマンドで、Yuimarl の VSCode のワークスペースを起動してください。
                    code
                      | code workspace.code-workspace
                  hr
                  section.pb-3
                    h3 .env の作成
                    p プロジェクトのルートフォルダに、「.env.template」というファイルがあるので、それをコピーして、「.env」というファイルを作成してください。
                    p 「.env」に、運用環境構築で Cloud Run の環境変数に設定したのと同じ内容を設定してください。
                    a(href="images/screen39.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen39.png")
                  hr
                  section.pb-3
                    h3 Yuimarl の起動
                    p 次のコマンドで、Yuimarl を起動してください。
                    code
                      | cargo run
                    br
                    br
                    a(href="images/screen40.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen40.png")
                    br
                    br
                    p
                      | この画像のように表示されたら、Web ブラウザで、
                      a(href="http://localhost:8080" target="_blank") http://localhost:8080
                      | &nbsp;にアクセスすると、Yuimarl のログイン画面が表示されます。
                    p 停止するには、Ctrl + C キーを押します。
                  br
                  br

              .col-md-3
                .submenu.mt-3
                  h3 CONTENTS
                  ul
                    li
                      a(href="https://mnitta220.github.io/") 新田システム事務所
                    li
                      a(href="index2.html") ホーム
                      ul
                        li
                          a.current(href="devsetup.html") 開発環境構築
                        li
                          a(href="deploy.html") 運用環境構築
                        li
                          a(href="develop.html") 開発情報
                        li
                          a(href="howtouse.html") 使い方
                        li
                          a(href="agreement.html") 利用規約

            include includes/footer.pug
          .col-md-1

    script(src="js/bootstrap.bundle.min.js")
