doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Yuimarl
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="css/style4.css")
    link(rel="icon" type="image/x-icon" href="static/favicon.ico")
  body
    main
      .container
        .row
          .col-md-1
          .col.col-md-10
            include includes/logo.pug
            include includes/nav.pug

            .row
              .col-md-9
                section.pt-3
                  h2.pb-1 使い方
                  p Yuimarl の使い方についてご説明いたします。
                  ol.pb-2
                    li
                      a(href="#login") ログイン
                    li
                      a(href="#prj") プロジェクト
                      ol.pb-2
                        li
                          a(href="#prjadd") プロジェクトを作成する
                        li
                          a(href="#prjlst") プロジェクト一覧
                        li
                          a(href="#prjupd") プロジェクトを更新する
                        li
                          a(href="#prjdel") プロジェクトを削除する
                        li
                          a(href="#withdraw") プロジェクトから離脱する
                    li
                      a(href="#tkt") チケット
                      ol.pb-2
                        li
                          a(href="#tktadd") チケットを作成する
                        li
                          a(href="#tktlst") チケット一覧
                        li
                          a(href="#tktupd") チケットを更新する
                        li
                          a(href="#tktdel") チケットを削除する
                        li
                          a(href="#tktprv") チケットの権限
                    li
                      a(href="#news") お知らせ
                hr
                section.pb-2
                  h3#login ログイン
                  p Web ブラウザで、次の URL にアクセスしてください。
                  .card.mb-3.p-2.bg-light
                    a(href="https://yuimarl-iyzuisrc3a-an.a.run.app" target="_blank") https://yuimarl-iyzuisrc3a-an.a.run.app
                  p 初回のアクセス時には、次のログイン画面が表示されます。
                  a(href="images/screen56.png")
                    img.border.border-info.border-1.img-fluid(src="images/screen56.png")
                  p.mt-2 ログイン方法は、以下の３つから選択してください。
                  ul
                    li
                      b Google でログイン
                      br
                      | Googleアカウントでログインします。
                    li
                      b GitHub でログイン
                      br
                      | GitHubアカウントでログインします。
                    li
                      b メールでログイン
                      br
                      | 次のような、メールアドレスの入力画面が表示されます。
                      br
                      a(href="images/screen57.png")
                        img.border.border-info.border-1.img-fluid(src="images/screen57.png")
                      br
                      | メールアドレスを入力して、「次へ」ボタンをクリックすると、次のようなメールが送信されます。
                      br
                      a(href="images/screen83.png")
                        img.border.border-info.border-1.img-fluid(src="images/screen83.png")
                      br
                      | 「project-305277440314 にログイン」のリンク先の URL に、送信を行ったブラウザでアクセスすると、ログインすることができます。

                  p 初回のログインをすると、利用規約画面が表示されます。利用規約に同意される場合は、「同意する」を選択してください。
                  hr
                section.pb-2
                  h3#prj プロジェクト
                  section.pb-2
                    h4#prjadd プロジェクトを作成する
                    p
                      | プロジェクトを作成するには、ホーム画面で、「プロジェクト」欄にある&nbsp;
                      img.icon3(src="images/ionicons/add-circle-outline.svg")
                      | &nbsp;アイコンをクリックします。
                    a(href="images/screen58.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen58.png")
                    p.pt-2 「プロジェクトを作成」画面で、以下の情報を入力します。
                    a(href="images/screen59.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen59.png")
                    .py-2
                      table.table.table-bordered
                        tr
                          th 項目名
                          th 説明
                        tr
                          td プロジェクト名
                          td プロジェクトの名前を入力します。
                        tr
                          td チケットID接頭辞
                          td
                            | プロジェクト内でチケットを作成すると、ID が付与されます。その ID が、「接頭辞＋連番」となります。 
                            br
                            | たとえば、接頭辞に「BN」と入力すると、チケットは、BN1、BN2、BN3 ・・・ となります。
                        tr
                          td メンバー
                          td プロジェクトのメンバーを登録します。登録方法は後述します。
                    p
                      | プロジェクトのメンバーを登録するには、「メンバー」欄にある&nbsp;
                      img.icon3(src="images/ionicons/add-circle-outline.svg")
                      | &nbsp;アイコンをクリックします。
                    p 「メンバーを検索」ダイアログが表示されます。
                    a(href="images/screen60.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen60.png")
                    p.pt-2
                      | メンバーとして登録したい人のメールアドレスまたは名前を入力して、「検索」ボタンをクリックします。
                      br
                      | 検索されるのは、Yuimarl のユーザーとして登録されているメールアドレスと名前です。登録されている通りのメールアドレスまたは名前でなければ検索されません。たとえば、姓と名の間にスペースが入って登録されていれば、その通りでなければ検索されません。
                    a(href="images/screen61.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen61.png")
                    p.pt-2
                      | メンバーが検索されたら、「選択」をチェックし、「ロール」を選択します。
                      br
                      | ロールは、「管理者」、「メンバー」、「閲覧者」から選択します。ロールの権限は、次の表をご覧ください。（&nbsp;「オーナー」は、プロジェクトを作成した人です）
                    .pb-2
                      table.table.table-bordered
                        tr
                          th 機能
                          th オーナー
                          th 管理者
                          th メンバー
                          th 閲覧者
                        tr
                          td プロジェクトを削除
                          td 〇
                          td ×
                          td ×
                          td ×
                        tr
                          td プロジェクト情報を更新
                          td 〇
                          td 〇
                          td ×
                          td ×
                        tr
                          td メンバーを追加
                          td 〇
                          td 〇
                          td ×
                          td ×
                        tr
                          td メンバー情報を閲覧
                          td 〇
                          td 〇
                          td 〇
                          td 〇
                        tr
                          td メンバー情報を更新
                          td 〇
                          td 〇
                          td ×
                          td ×
                        tr
                          td メンバーを削除
                          td 〇
                          td 〇
                          td ×
                          td ×
                        tr
                          td チケットを作成
                          td 〇
                          td 〇
                          td 〇
                          td ×
                    p メンバーを追加し終わったら、「作成」を選択します。
                    a(href="images/screen62.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen62.png")
                    p.pt-2 作成したプロジェクトがホーム画面に表示されます。
                    a(href="images/screen63.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen63.png")

                    hr
                  section.pb-2
                    h4#prjlst プロジェクト一覧
                    p
                      | 自分がオーナーまたは参加しているプロジェクトの一覧を表示するには、画面上部のメニューにある「プロジェクト」を選択するか、ホーム画面で、「プロジェクト」欄にある&nbsp;
                      img.icon3(src="images/ionicons/list-outline.svg")
                      | &nbsp;アイコンをクリックします。
                    a(href="images/screen64.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen64.png")
                    p.pt-2 プロジェクトの一覧が表示されます。
                    a(href="images/screen65.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen65.png")
                    p.pt-2
                      | 一覧の先頭に表示されているのが、現在選択中のプロジェクトです。
                      br
                      | 選択中のプロジェクトを変更するためには、&nbsp;
                      img.icon3(src="images/ionicons/open-outline.svg")
                      | &nbsp;アイコンをクリックします。
                    hr
                  section.pb-2
                    h4#prjupd プロジェクトを更新する
                    p プロジェクトの情報を更新するには、ホーム画面またはプロジェクト一覧画面で、プロジェクトを選択します。
                    p プロジェクト情報画面が表示されます。
                    a(href="images/screen66.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen66.png")
                    h5.pt-2 基本情報タブ
                    p
                      | プロジェクトメンバーのロールを変更するには、&nbsp;
                      img.icon3(src="images/ionicons/settings-outline.svg")
                      | &nbsp;アイコンをクリックします。
                    p
                      | プロジェクトメンバーを削除するには、&nbsp;
                      img.icon3(src="images/ionicons/remove-circle-outline.svg")
                      | &nbsp;アイコンをクリックします。
                    p プロジェクトの情報の更新内容を入力し終わったら、「更新」を選択します。
                    h5.pt-2 ノートタブ
                    p
                      | プロジェクトのノートを入力するには、「ノート」タブを選択します。
                      br
                      | ノートの入力方法は、
                      a(href="markdown.html") マークダウン
                      | &nbsp;をご覧ください。
                    h5.pt-2 更新履歴タブ
                    p
                      | プロジェクトの更新履歴を参照するには、「更新履歴」タブを選択します。
                      br
                      | 表示されるのは、直近の30履歴です。
                    a(href="images/screen67.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen67.png")
                    hr
                  section.pb-2
                    h4#prjdel プロジェクトを削除する
                    p
                      | プロジェクトのオーナーは、プロジェクトを削除することができます。
                      br
                      | プロジェクトを削除するには、プロジェクト情報画面で「削除」を選択します。
                      br
                      | 削除確認メッセージが表示されるので、「削除」を選択します。
                    a(href="images/screen68.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen68.png")
                    hr
                  section.pb-2
                    h4#withdraw プロジェクトから離脱する
                    p
                      | プロジェクトの 管理者 / メンバー / 閲覧者 は、プロジェクトから離脱することができます。
                      br
                      | プロジェクトから離脱するには、プロジェクト情報画面で「プロジェクトから離脱」を選択します。
                      br
                      | 離脱確認メッセージが表示されるので、「離脱」を選択します。
                      br
                      | 離脱すると、プロジェクトのメンバーから削除されます。
                    a(href="images/screen84.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen84.png")
                    hr
                section.pb-2
                  h3#tkt チケット
                  section.pb-2
                    h4#tktadd チケットを作成する
                    p
                      | プロジェクトのチケットを作成するには、ホーム画面で、「チケット」欄にある&nbsp;
                      img.icon3(src="images/ionicons/add-circle-outline.svg")
                      | &nbsp;アイコンをクリックします。
                    a(href="images/screen69.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen69.png")
                    p.pt-2 「チケットを作成」画面で、以下の情報を入力します。
                    a(href="images/screen70.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen70.png")
                    .py-2
                      table.table.table-bordered
                        tr
                          th 項目名
                          th 説明
                        tr
                          td チケット名
                          td チケットの名前を入力します。
                        tr
                          td 内容
                          td チケットの内容を入力します。
                        tr
                          td 担当者
                          td チケットの担当者を選択します。選択方法は後述します。
                        tr
                          td 開始日 / 終了日
                          td 開始日と終了日が決まっていれば入力します。
                        tr
                          td 進捗率
                          td 進捗率を0～100で入力します。「完了済」をチェックすると「100」と入力されます。
                        tr
                          td 優先度
                          td 優先度を「最優先」、「高」、「中」、「低」、「未設定」から選択します。
                        tr
                          td 親チケット
                          td このチケットの親となるチケットを選択します。選択方法は後述します。
                        tr
                          td 子チケット
                          td ここには入力できません。（このチケットを親チケットとするチケットが表示されます）
                        tr
                          td 成果物
                          td このチケットの成果物を入力します。入力方法は後述します。
                    p
                      | チケットの担当者を登録するには、「担当者」欄にある&nbsp;
                      img.icon3(src="images/ionicons/add-circle-outline.svg")
                      | &nbsp;アイコンをクリックします。
                    p
                      | 「担当者を追加」ダイアログが表示されます。プロジェクトのメンバーが一覧表示されています。
                      br
                      | 担当者として登録したい人の「選択」をチェックして、「担当者に追加」ボタンをクリックします。
                    a(href="images/screen71.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen71.png")
                    p.pt-2
                      | チケット情報画面に担当者が表示されます。
                      br
                      img.icon3(src="images/ionicons/arrow-down-outline.svg")
                      | &nbsp;または&nbsp;
                      img.icon3(src="images/ionicons/arrow-up-outline.svg")
                      | &nbsp;アイコンで上下に移動することができます。

                    a(href="images/screen72.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen72.png")
                    p.pt-2
                      | チケットの親チケットを登録するには、「親チケット」欄にある&nbsp;
                      img.icon3(src="images/ionicons/add-circle-outline.svg")
                      | &nbsp;アイコンをクリックします。
                    p
                      | 「親チケットを追加」ダイアログが表示されます。
                      br
                      | 親チケットの ID を入力して「検索」をクリックすると、チケットが検索されるので、「親チケットを追加」ボタンをクリックすると、親チケットが設定されます。
                    a(href="images/screen73.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen73.png")
                    p.pt-2
                      | チケットの成果物を登録するには、「成果物」欄にある&nbsp;
                      img.icon3(src="images/ionicons/add-circle-outline.svg")
                      | &nbsp;アイコンをクリックします。
                    p
                      | 「成果物を追加」ダイアログが表示されます。
                      br
                      | 「成果物名」と「ファイルパス / URL」を入力してください。成果物がファイルサーバーにある場合は「ファイルパス」、Web上にある場合は「URL」を入力してください。
                      br
                      | 「追加」ボタンをクリックすると、成果物が設定されます。
                    a(href="images/screen74.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen74.png")
                    p.pt-2
                      | 担当者の中に自分が入っていると、「背景色」欄が表示されます。
                      br
                      | 色をクリックして選択すると、ホーム画面で表示されるチケットの背景がその色になります。これは、自分用の設定です。他の人には反映されません。
                    a(href="images/screen85.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen85.png")
                    p.pt-2 入力が終わったら、「作成」を選択します。
                    hr
                  section.pb-2
                    h4#tktlst チケット一覧
                    p ホーム画面の「チケット」欄には、自分が担当者として設定されているチケットが、優先度順に表示されます。
                    p
                      | プロジェクトに登録されているチケットの一覧を表示するには、画面上部のメニューにある「チケット」を選択するか、ホーム画面で、「チケット」欄にある&nbsp;
                      img.icon3(src="images/ionicons/list-outline.svg")
                      | &nbsp;アイコンをクリックします。
                    a(href="images/screen75.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen75.png")
                    p.pt-2 チケットの一覧が表示されます。
                    a(href="images/screen76.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen76.png")
                    p.pt-2
                      | 以下の条件を入力して「フィルター」ボタンをクリックすると、条件に該当するチケットが絞り込まれて表示されます。
                    ul
                      li
                        b チケットID
                        br
                        | 入力されたチケットID のチケットを表示します。
                      li
                        b チケット名（部分一致）
                        br
                        | チケット名に、入力された文字列が含まれるチケットを表示します。
                      li
                        b 親チケットID
                        br
                        | 入力されたチケットID の子チケットを表示します。
                      li
                        b 完了済を表示
                        br
                        | チェックを付けると、完了済みのチケットも表示されます。（チェックを付けていないと、完了済みのチケットは表示されません）
                      li
                        b 優先度順に表示
                        br
                        | チェックを付けると、優先度順に表示されます。
                    hr
                  section.pb-2
                    h4#tktupd チケットを更新する
                    p チケットの情報を更新するには、ホーム画面またはチケット一覧画面で、チケットID を選択します。
                    p チケット情報画面が表示されます。
                    a(href="images/screen01.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen01.png")
                    h5.pt-2 基本情報タブ
                    p 基本情報タブでの入力内容は、チケットの作成時と同じです。
                    p 更新内容を入力し終わったら、「更新」を選択します。
                    p 背景色を変更しただけの時は、「更新」を押す必要がありません。
                    h5.pt-2 ノートタブ
                    p
                      | チケットのノートを入力するには、「ノート」タブを選択します。
                      br
                      | ノートの入力方法は、
                      a(href="markdown.html") マークダウン
                      | &nbsp;をご覧ください。
                    h5.pt-2 コメントタブ
                    p
                      | コメントタブでは、チケットについて、プロジェクトのメンバーがコメントすることができます。
                    a(href="images/screen80.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen80.png")
                    p.pt-2
                      | コメントを追加するには、&nbsp;
                      img.icon3(src="images/ionicons/add-circle-outline.svg")
                      | &nbsp;アイコンをクリックします。
                      br
                      | 自分のコメントを更新するには、
                      img.icon3(src="images/ionicons/create-outline2.svg")
                      | &nbsp;アイコンをクリックします。
                      br
                      | 自分のコメントを削除するには、
                      img.icon3(src="images/ionicons/trash-outline.svg")
                      | &nbsp;アイコンをクリックします。
                    p
                      | コメントの追加・更新では、次のようなダイアログが表示されるので、マークダウンで入力します。
                    a(href="images/screen81.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen81.png")
                    p.pt-2
                      | マークダウンの入力方法は、
                      a(href="markdown.html") マークダウン
                      | &nbsp;をご覧ください。
                    h5.pt-2 更新履歴タブ
                    p
                      | チケットの更新履歴を参照するには、「更新履歴」タブを選択します。
                      br
                      | 表示されるのは、直近の30履歴です。
                    a(href="images/screen77.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen77.png")
                    hr
                  section.pb-2
                    h4#tktdel チケットを削除する
                    p
                      | プロジェクトのオーナーまたは管理者と、チケットを作成したメンバーは、チケットを削除することができます。
                      br
                      | チケットを削除するには、チケット情報画面で「削除」を選択します。
                      br
                      | 削除確認メッセージが表示されるので、「削除」を選択します。
                    a(href="images/screen78.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen78.png")
                    hr
                  section.pb-2
                    h4#tktprv チケットの権限
                    p.pt-2 チケットの権限は、次の表のようになっています。
                    .pb-2
                      table.table.table-bordered
                        tr
                          th 機能
                          th 作成者
                          th 担当者
                          th オーナー
                          th 管理者
                          th メンバー
                          th 閲覧者
                        tr
                          td チケットを閲覧
                          td 〇
                          td 〇
                          td 〇
                          td 〇
                          td 〇
                          td 〇
                        tr
                          td チケットを更新
                          td 〇
                          td 〇
                          td 〇
                          td 〇
                          td ×
                          td ×
                        tr
                          td コメントを追加
                          td 〇
                          td 〇
                          td 〇
                          td 〇
                          td 〇
                          td ×
                        tr
                          td チケットを削除
                          td 〇
                          td ×
                          td 〇
                          td 〇
                          td ×
                          td ×

                hr
                section.pb-2
                  h3#news お知らせ
                  p 自分に関係する変更があった場合は、ホーム画面にお知らせが表示されます。
                  a(href="images/screen82.png")
                    img.border.border-info.border-1.img-fluid(src="images/screen82.png")
                  p.mt-2 お知らせが表示されるのは、以下の場合です。
                  ol
                    li 他のユーザーによって、プロジェクトのメンバーに追加された時。
                    li プロジェクトのメンバーから削除された時。
                    li 他のユーザーによって、チケットの担当者に追加された時。
                    li 他のユーザーによって、自分が担当になっているチケットが更新された時。
                    li 他のユーザーによって、自分が担当になっているチケットにコメントが追加された時。
                    li 他のユーザーによって、自分がメンバーになっているプロジェクトが削除された時。
                    li 自分がオーナーまたは管理者のプロジェクトから、メンバーが離脱した時。
                  p
                    | お知らせを削除するには、
                    img.icon3(src="images/ionicons/close-outline.svg")
                    | &nbsp;アイコンをクリックします。

              .col-md-3
                .submenu.mt-3
                  h3 CONTENTS
                  ul
                    li
                      a(href="https://mnitta220.github.io/") 新田システム事務所
                    li
                      a(href="index.html") ホーム
                      ul
                        li
                          a.current(href="howtouse.html") 使い方
                          ul
                            li
                              a(href="markdown.html") マークダウン
                        li
                          a(href="deploy.html") 運用環境構築
                        li
                          a(href="devsetup.html") 開発環境構築
                        li
                          a(href="develop.html") 開発情報
                        li
                          a(href="agreement.html") 利用規約

            include includes/footer.pug
          .col-md-1

    script(src="js/bootstrap.bundle.min.js")
