doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Yuimarl
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="css/style3.css")
    link(rel="icon" type="image/x-icon" href="static/favicon.ico")
  body
    main
      .container
        .row
          .col-md-1
          .col.col-md-10
            include includes/logo.pug
            include includes/nav.pug

            .row
              .col-md-9
                section.pt-3
                  h2.pb-1 使い方
                  ol.pb-2
                    li
                      a(href="#prj") プロジェクト
                      ol.pb-2
                        li
                          a(href="#prjadd") プロジェクトを作成する
                        li
                          a(href="#prjlst") プロジェクト一覧
                        li
                          a(href="#prjupd") プロジェクトを更新する
                        li
                          a(href="#prjdel") プロジェクトを削除する
                    li
                      a(href="#tkt") チケット
                      ol.pb-2
                        li
                          a(href="#tktadd") チケットを作成する
                        li
                          a(href="#tktlst") チケット一覧
                        li
                          a(href="#tktupd") チケットを更新する
                        li
                          a(href="#tktdel") チケットを削除する
                    li
                      a(href="#mkd") マークダウンの入力
                hr
                section.pb-2
                  h3#prj プロジェクト
                  section.pb-2
                    h4#prjadd プロジェクトを作成する
                    hr
                  section.pb-2
                    h4#prjlst プロジェクト一覧
                    hr
                  section.pb-2
                    h4#prjupd プロジェクトを更新する
                    hr
                  section.pb-2
                    h4#prjdel プロジェクトを削除する
                    hr
                section.pb-2
                  h3#tkt チケット
                  section.pb-2
                    h4#tktadd チケットを作成する
                    hr
                  section.pb-2
                    h4#tktlst チケット一覧
                    hr
                  section.pb-2
                    h4#tktupd チケットを更新する
                    hr
                  section.pb-2
                    h4#tktdel チケットを削除する
                    hr
                section.pb-2
                  h3#mkd マークダウンの入力

              .col-md-3
                .submenu.mt-3
                  h3 CONTENTS
                  ul
                    li
                      a(href="https://mnitta220.github.io/") 新田システム事務所
                    li
                      a(href="index.html") ホーム
                      ul
                        li
                          a(href="devsetup.html") 開発環境構築
                        li
                          a(href="deploy.html") 運用環境構築
                        li
                          a(href="develop.html") 開発情報
                        li
                          a.current(href="howtouse.html") 使い方
                        li
                          a(href="agreement.html") 利用規約

            include includes/footer.pug
          .col-md-1

    script(src="js/bootstrap.bundle.min.js")
