doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Yuimarl
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="css/style4.css")
    link(rel="icon" type="image/x-icon" href="static/favicon.ico")
  body
    main
      .container
        .row
          .col-md-1
          .col.col-md-10
            include includes/logo.pug
            include includes/nav.pug

            section.row
              .col-md-9
                //- section.py-3
                  .alert.alert-warning(role="alert")
                    | このシステムは、現在開発中です。
                    br
                    | まだ、正式リリースされていませんが、ある程度、使えるようになっていますので、プレビュー版として公開します。
                    br
                    | 下記「ログイン URL」から実際にお使いいただくことができますが、動作は保証しません。
                section.py-3
                  h1 Yuimarl
                  p
                    | 「Yuimarl」（ゆいまーる）は、少人数のグループ、または、個人 のプロジェクトを管理するためのシステムです。
                    br
                    | 以下の特徴があります。
                  ul
                    li グループまたは個人のプロジェクトを自由に登録することができます。
                    li 制限内であれば、無料で使うことができます。
                    li インターネットにつながった、パソコン、スマートフォン、タブレットの Webブラウザで使うことができます。
                    li サーバーをご自身で運用するための情報が公開されています。
                    li ソースコードが公開されているので、プログラミングの知識があれば、ご自身で機能を改変することができます。
                  p
                    | Yuimarl には、以下の利用制限があります。
                  ul
                    li １人のアカウントで、最大10個のプロジェクトを作成することができます。（他のユーザーが作成したプロジェクトには、何個でも参加できます。）
                    li １つのプロジェクトには、（オーナーを含めて）最大で 20人のメンバーを参加させることができます。
                    li １つのプロジェクトには、最大で 1000個のチケットを作成することができます。（このシステムでは、プロジェクトで行うタスクを「チケット」として登録します）
                  p
                    | この制限を超えて利用したい場合は、有料で対応させていただきます。

                section.pb-3
                  h3 ログイン URL
                  p
                    | 次の URL からログインすると、Yuimarl をお使いいただくことができます。使用方法は、
                    a(href="howtouse.html") 使い方
                    | &nbsp;をご覧ください。
                  .card.mb-3.p-2.bg-light
                    a(href="https://yuimarl-iyzuisrc3a-an.a.run.app" target="_blank") https://yuimarl-iyzuisrc3a-an.a.run.app
                  p 現時点での機能は、以下の通りです。順次、機能を追加していきます。
                  ul
                    li Googleアカウント / GitHubアカウント / メールアドレス のいずれかでログインする。
                    li プロジェクトを登録する。
                    li チケットを登録する。
                    li ガントチャートを表示する。

                section.pb-3
                  h3 名前の由来
                  p
                    | 「ゆいまーる」は、沖縄の言葉で、「相互扶助」（そうごふじょ）、「助け合い」を意味します。
                    | 「ゆい」は「結ぶ」、「まーる」は「交流の場」です。<br>
                    | このシステムが、共同作業や個人作業の基盤となって、価値的な作業が推進されればよいと願っています。<br>
                    | また、多くの方からのご意見、ご協力をいただき、このシステムが成長していけばよいと思っています。<br>
                    | そうした願いと期待を込めて、この名前を付けました。

                section.pb-3
                  h3 画面イメージ
                  p
                    | チケット編集画面のイメージ （パソコン）
                    br
                    a(href="images/screen01.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen01.png" alt="チケット編集画面")
                  p
                    | チケット編集画面のイメージ （スマートフォン）
                    br
                    a(href="images/screen02.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen02.png" alt="チケット編集画面")
                  p
                    | ガントチャート画面のイメージ （パソコン）
                    br
                    a(href="images/screen90.png")
                      img.border.border-info.border-1.img-fluid(src="images/screen90.png" alt="ガントチャート画面")

                section.pb-3
                  h3 開発情報、動作環境
                  p Yuimarl のソースコードは、次の URL で公開されています。
                  .card.mb-3.p-2.bg-light
                    a(href="https://github.com/mnitta220/yuimarl" target="_blank") https://github.com/mnitta220/yuimarl
                  p
                    | Yuimarl のプログラミング言語には、
                    a(href="https://www.rust-lang.org/ja/" target="_blank") Rust
                    |  と 
                    a(href="https://www.typescriptlang.org/" target="_blank") TypeScript
                    |  が使用されています。
                    br
                    | サーバーが&nbsp;
                    a(href="https://cloud.google.com/?hl=ja" target="_blank") Google Cloud
                    | &nbsp;のインフラで動作します。アプリケーションの実行環境は Cloud Run、データベースは Firestore、ユーザー認証には Firebase Authentication が使われています。

                section.pb-3
                  h3 アーキテクチャー
                  p Yuimarl のシステムを構成するソフトウェア階層と、そこで使用されているプロダクトは、次のようになっています。
                  table.table.table-bordered
                    tr
                      th 階層
                      th プロダクト
                      th 説明
                    tr
                      td(rowspan="5") プレゼンテーション層
                      td 各種Webブラウザ
                      td Google Chrome、Microsoft Edge、Safari、Firefox で動作確認済みです。
                    tr
                      td
                        a(href="https://github.com/firebase/firebaseui-web" target="_blank") FirebaseUI Auth
                      td Firebase Authentication を使ったユーザー認証のUIライブラリ
                    tr
                      td
                        a(href="https://getbootstrap.jp/" target="_blank") Bootstrap
                      td フロントエンドツールキット
                    tr
                      td
                        a(href="https://ja.vitejs.dev/" target="_blank") Vite
                      td フロントエンドツール
                    tr
                      td
                        a(href="https://github.com/markedjs/marked" target="_blank") Marked
                      td マークダウンでの入力を行うための JavaScript ライブラリ
                    tr
                      td(rowspan="3") アプリケーション層
                      td
                        a(href="https://cloud.google.com/run?hl=ja" target="_blank") Cloud Run
                      td アプリケーションを Docker コンテナで実行する Google Cloud 環境
                    tr
                      td
                        a(href="https://firebase.google.com/docs/auth?hl=ja" target="_blank") Firebase Authentication
                      td Google Cloud のユーザー認証基盤
                    tr
                      td
                        a(href="https://github.com/tokio-rs/axum" target="_blank") axum
                      td Rust の Webアプリケーションフレームワーク
                    tr
                      td データアクセス層
                      td
                        a(href="https://cloud.google.com/firestore?hl=ja" target="_blank") Firestore
                      td Google Cloud のドキュメントデータベース
                  p
                    | 〔参照〕&nbsp;
                    a(href="https://qiita.com/mnitta220/items/934c39f7dd09d97af853" target="_blank") Cloud Run で動くプロジェクト管理システムを作ってみた

                section.pb-3
                  h3 ライセンス
                  p
                    | Yuimarl は、
                    a(href="http://opensource.org/licenses/mit-license.php" target="_blank") MITライセンス
                    | （
                    a(href="http://sourceforge.jp/projects/opensource/wiki/licenses/MIT_license" target="_blank") 参考日本語訳
                    | ）の下で公開されています。ソースコードのご使用に当たっては、このライセンス条項に従ってください。
                  ul
                    li ソフトウェア・成果物の著作権は作者が保持しています。
                    li 作者または著作権者は、ソフトウェアに関して、一切の責任を負いません。
                    li このソフトウェアのソースコードを、商用・非商用に関わらす、誰でも無料で使っていただいて結構です。ただし、著作権表示および本許諾表示をソフトウェアのすべての複製または重要な部分に記載しなければなりません。
                    li 配布の際には、ライセンス条項も配布する必要があります。
                section.pb-3
                  h3 カスタマイズ
                  p
                    | Yuimarl のソースコードは、自由に改変することができます。Yuimarl
                    | をベースとして、別のシステムを開発することもできます。
                    br
                    | カスタマイズを新田システム事務所に依頼される場合は、ご連絡ください。
                section.pb-3#contact
                  h3 問い合わせ
                  p
                    | Yuimarl に関するお問い合わせ、ご意見、ご要望、不具合報告 等は、masa.nitta@nifty.ne.jp
                    | まで、電子メールでお願いいたします。
                //- section.pb-3
                  h3 共同開発者募集
                  p
                    | Yuimarl を共同で開発してくださる企業または個人の方を募集しています。
                    br
                    | 報酬は出せませんので、ボランティアとなります。開発環境はご自身で用意していただき、お好きな時間にご自宅等で開発を行っていただきます。
                    br
                    | プログラミングはしないけれども、機能・デザインについてご意見を述べていただいたり、テストに参加するというだけでも結構です。
                    br
                    | 参加をご希望される方は、masa.nitta@nifty.ne.jp まで、電子メールでご連絡ください。
                section.pb-3
                  h3 更新履歴
                  p
                    a(href="history.html") 更新履歴

              .col-md-3
                .submenu.mt-3
                  h3 CONTENTS
                  ul
                    li
                      a(href="https://mnitta220.github.io/") 新田システム事務所
                    li
                      a.current(href="index.html") ホーム
                      ul
                        li
                          a(href="howtouse.html") 使い方
                        li
                          a(href="deploy.html") 運用環境構築
                        li
                          a(href="devsetup.html") 開発環境構築
                        li
                          a(href="develop.html") 開発情報
                        li
                          a(href="agreement.html") 利用規約

            include includes/footer.pug
          .col-md-1

    script(src="js/bootstrap.bundle.min.js")
