doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Yuimarl
    link(rel="stylesheet" href="css/bootstrap.min.css")
    link(rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css")
    link(rel="stylesheet" href="css/style4.css")
    link(rel="icon" type="image/x-icon" href="static/favicon.ico")
  body
    main
      .container
        .row
          .col-md-1
          .col.col-md-10
            include includes/logo.pug
            include includes/nav.pug

            .row
              .col-md-9
                section.pt-3
                  h2.pb-1 マークダウン
                  p
                    | プロジェクト情報画面とチケット情報画面のノートタブは、マークダウンで入力します。
                    br
                    | ここでは、マークダウンの入力方法について、説明いたします。

              .col-md-3
                .submenu.mt-3
                  h3 CONTENTS
                  ul
                    li
                      a(href="https://mnitta220.github.io/") 新田システム事務所
                    li
                      a(href="index.html") ホーム
                      ul
                        li
                          a(href="howtouse.html") 使い方
                          ul
                            li
                              a.current(href="markdown.html") マークダウン
                        li
                          a(href="deploy.html") 運用環境構築
                        li
                          a(href="devsetup.html") 開発環境構築
                        li
                          a(href="develop.html") 開発情報
                        li
                          a(href="agreement.html") 利用規約

            include includes/footer.pug
          .col-md-1

    script(src="js/bootstrap.bundle.min.js")
