.icon {
  width: 22px;
  height: 100%;
}

.icon1 {
  width: 24px;
  height: 100%;
}

.icon2 {
  width: 26px;
  height: 100%;
}

.icon3 {
  width: 30px;
  height: 100%;
}

.btn-help {
  font-size: 9pt;
  color: #888;
}