doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title チケットを更新 - Yuimarl
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous")
    link(rel="stylesheet" href="../../static/css/style108.css")
    link(rel="icon" type="image/x-icon" href="../../static/favicon.ico")
  body
    include ../includes/nav.pug

    main
      .py-3
        .container
          h3.mb-3 チケット
          .pb-2
            ul.nav.nav-tabs
              li.nav-item
                a.nav-link.active(href="#") 基本情報
              li.nav-item
                a.nav-link(href="#") ノート
              li.nav-item
                a.nav-link(href="#") コメント
              li.nav-item
                a.nav-link(href="#") 更新履歴
          form(action="/ticket_add" method="POST")
            // プロジェクト / チケットID
            .row.py-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="ticket-id") プロジェクト / チケットID
              .col-md-9.mb-1 文化祭実行プロジェクト / BN8
            // チケット名
            .row.pt-1.pb-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="name") チケット名
              .col-md-9.mb-1
                input.form-control#name(type="text" maxlength="40" value="たこやき模擬店" required)
            // 内容
            .row.pt-1.pb-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="message") 内容
              .col-md-9.mb-1
                textarea.form-control#message(rows="3" name="message")
                  | たこやき模擬店を出店するために、やるべきことを検討する。
            // 担当者
            .row.pt-1.pb-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="member") 担当者
              .col-md-9.mb-1
                .form-floating
                  table.table.table-hover
                    thead
                      tr
                        th(scope="col") メールアドレス
                        th(scope="col") 名前
                        th(scope="col")
                    tbody
                      tr
                        td taro.yamada@mail.com
                        td 山田太郎
                        td
                          img.icon(src="../../static/ionicons/remove-circle-outline.svg" title="削除")
                          | &nbsp;
                          img.icon(src="../../static/ionicons/arrow-down-outline.svg" title="下に移動")
                      tr
                        td masami.iwaki@mail.com
                        td 岩鬼正美
                        td
                          img.icon(src="../../static/ionicons/remove-circle-outline.svg" title="削除")
                          | &nbsp;
                          img.icon(src="../../static/ionicons/arrow-up-outline.svg" title="上に移動")
                          | &nbsp;
                          img.icon(src="../../static/ionicons/arrow-down-outline.svg" title="下に移動")
                      tr
                        td kazuto.tonoma@mail.com
                        td 殿馬一人
                        td
                          img.icon(src="../../static/ionicons/remove-circle-outline.svg" title="削除")
                          | &nbsp;
                          img.icon(src="../../static/ionicons/arrow-up-outline.svg" title="上に移動")
                          | &nbsp;
                          img.icon(src="../../static/ionicons/arrow-down-outline.svg" title="下に移動")
                      tr
                        td satoru.satonaka@mail.com
                        td 里中智
                        td
                          img.icon(src="../../static/ionicons/remove-circle-outline.svg" title="削除")
                          | &nbsp;
                          img.icon(src="../../static/ionicons/arrow-up-outline.svg" title="上に移動")
                  img.icon3(src="../../static/ionicons/add-circle-outline.svg" title="担当者を追加する")

                .modal.fade#exampleModal(tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true")
                  .modal-dialog
                    .modal-content
                      .modal-header
                        h1.modal-title.fs-5#exampleModalLabel 担当者を検索
                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                      .modal-body ...
                      .modal-footer
                        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") Close
                        button.btn.btn-primary(type="button") Save changes
            // 開始日 / 終了日
            .row.pt-1.pb-2
              legend.col-form-label.col-md-3.bg-light.mb-1 開始日 / 終了日
              .col-md-9.mb-1
                .row
                  .col-sm-6.mb-2
                    label.form-label(for="startdate") 開始日
                    input.form-control#startdate(type="date" value="2024-09-10")
                  .col-sm-6.mb-1
                    label.form-label(for="enddate") 終了日
                    input.form-control#enddate(type="date")
            // 進捗率
            .row.pt-1.pb-2
              legend.col-form-label.col-md-3.bg-light.mb-1 進捗率
              .col-md-9.mb-1
                .row
                  .col-sm-6.mb-2
                    table
                      tr
                        td
                          input.form-control#progress(type="number" min="0" max="100" value="25")
                        td
                          | &nbsp;%
                  .col-sm-6.mb-1
                    .form-check
                      input.form-check-input#finished(type="checkbox" value="")
                      label.form-check-label(for="finished") 完了済
            // 優先度
            .row.pt-1.pb-2
              legend.col-form-label.col-md-3.bg-light.mb-1 優先度
              .col-md-9.mb-1
                .form-check.form-check-inline
                  input.form-check-input#priority1(name="priority" type="radio" value="priority1")
                  label.form-check-label(for="priority1") 最優先
                .form-check.form-check-inline
                  input.form-check-input#priority2(name="priority" type="radio" value="priority2" checked="checked")
                  label.form-check-label(for="priority2") 高
                .form-check.form-check-inline
                  input.form-check-input#priority3(name="priority" type="radio" value="priority3")
                  label.form-check-label(for="priority3") 中
                .form-check.form-check-inline
                  input.form-check-input#priority4(name="priority" type="radio" value="priority4")
                  label.form-check-label(for="priority4") 低
                .form-check.form-check-inline
                  input.form-check-input#priority0(name="priority" type="radio" value="priority0")
                  label.form-check-label(for="priority0") 未設定
            // 親チケット
            .row.pt-1.pb-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="category") 親チケット
              .col-md-9
                a(href="#") BN5
                | &nbsp;:&nbsp;
                | 文化祭出し物
                | &nbsp;
                a(href="#")
                  img.icon(src="../../static/ionicons/remove-circle-outline.svg" title="削除")

            // 子チケット
            .row.pt-1.pb-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="category") 子チケット
              .col-md-9.pb-md-2
                p.mb-0
                  a(href="#") BN13
                  | &nbsp;:&nbsp;
                  | 備品準備
                p.mb-0
                  a(href="#") BN14
                  | &nbsp;:&nbsp;
                  | 食材購入

            // 成果物
            .row.pt-1.pb-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="category") 成果物
              .col-md-9.mb-1
                a(href="javascript:clickDeliverables();")
                  img.icon3(src="../../static/ionicons/add-circle-outline.svg" title="成果物を追加")

              .modal.fade#deliverablesModal(tabindex="-1" aria-labelledby="deliverablesModalLabel" aria-hidden="true")
                .modal-dialog.modal-lg
                  .modal-content
                    .modal-header
                      h1.modal-title.fs-5#deliverablesModalLabel 成果物を追加
                      button.btn-close(type="button" data-bs-dismiss="modal" aria-label="キャンセル")
                    .modal-body
                      .row.py-1
                        label.col-md-3.col-form-label.mb-1(for="deliverable") 成果物名
                        .col-md-9.mb-1
                          input.form-control#deliverable(type="text" maxlength="40" value="" required)
                          .invalid-feedback.d-none#deliverable-feedback 入力してください。
                      .row.py-1
                        label.col-md-3.col-form-label.mb-1(for="path") ファイルパス / URL
                        .col-md-9.mb-1
                          input.form-control#path(type="text" maxlength="100" value="")
                    .modal-footer
                      button.btn.btn-secondary(type="button" data-bs-dismiss="modal") キャンセル
                      button.btn.btn-primary(type="button")
                        img.icon(src="../../static/ionicons/add-circle-outline2.svg")
                        | &nbsp;追加

            .row.py-3.mt-2.bg-light
              .col-9
                button.btn.btn-primary(type="submit")
                  img.icon(src="../../static/ionicons/save-outline.svg")
                  | &nbsp;更新
                | &nbsp;&nbsp;
                button.btn.btn-primary(type="submit")
                  img.icon(src="../../static/ionicons/refresh-outline.svg")
                  | &nbsp;再読み込み
              .col-3.text-end
                button.btn.btn-secondary(type="submit")
                  img.icon(src="../../static/ionicons/trash-outline2.svg")
                  | &nbsp;削除

            // 背景色
            .row.pt-3
              label.col-md-3.col-form-label.bg-light.mb-1(for="category") 背景色
              .col-md-9.mb-1.flexbox
                a(href="javascript:clickColor('info');")
                  .box-info.color-box
                    img.icon.d-none(src="../../static/ionicons/checkmark-outline.svg")
                a(href="javascript:clickColor('primary');")
                  .box-primary.color-box
                    img.icon.d-none(src="../../static/ionicons/checkmark-outline.svg")
                a(href="javascript:clickColor('warning');")
                  .box-warning.color-box
                    img.icon(src="../../static/ionicons/checkmark-outline.svg")
                a(href="javascript:clickColor('success');")
                  .box-success.color-box
                    img.icon.d-none(src="../../static/ionicons/checkmark-outline.svg")
                a(href="javascript:clickColor('danger');")
                  .box-danger.color-box
                    img.icon.d-none(src="../../static/ionicons/checkmark-outline.svg")
                a(href="javascript:clickColor('secondary');")
                  .box-secondary.color-box
                    img.icon.d-none(src="../../static/ionicons/checkmark-outline.svg")
                a(href="javascript:clickColor('dark');")
                  .box-dark.color-box
                    img.icon.d-none(src="../../static/ionicons/checkmark-outline.svg")
                a(href="javascript:clickColor('light');")
                  .box-light.color-box(style="border: solid 1px #aaa;")
                    img.icon.d-none(src="../../static/ionicons/checkmark-outline.svg")

    //- include ../includes/footer.pug
    footer.py-1.mt-3.bg-dark.text-light
      include ../includes/footer2.pug

      hr
      .container
        .row.align-items-end
          .col-md-2.text-end.py-1
            a.nav-link.px-2.px-md-0(href="step02.html") ← prev
          .col-md-8
            .alert.alert-danger.text-start(role="alert")
              | チケット更新 step03.
              br
              | 「成果物を追加」をクリックすると、成果物を追加ダイアログが表示される。
          .col-md-2.text-start.py-1
            a.nav-link.px-2.px-md-0(href="step04.html") next →

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.7.1.min.js")
    script.
      function clickDeliverables() {
        new bootstrap.Modal("#deliverablesModal").show();
      }
      $(document).ready(function() {
        new bootstrap.Modal("#deliverablesModal").show();
      });
