doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title プロジェクト - Yuimarl
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous")
    link(rel="stylesheet" href="../../static/css/style101.css")
    link(rel="icon" type="image/x-icon" href="../../static/favicon.ico")
  body
    include ../includes/nav.pug

    main
      .py-3
        .container
          h3.mb-3 プロジェクト
          .pb-2
            ul.nav.nav-tabs
              li.nav-item
                a.nav-link(href="#") 基本情報
              li.nav-item
                a.nav-link.active(href="#") ノート
              li.nav-item
                a.nav-link(href="#") 更新履歴
          form(action="/project/add" method="POST")
            // 編集スイッチ
            .row.py-2
              .col
                .form-check.form-switch
                  input.form-check-input#edit(type="checkbox" role="switch" checked)
                  label.form-check-label(for="edit") 編集
            // ノート
            .row.py-2#note1
              .col-lg-6
                small ［マークダウン］
                textarea.form-control#markdown(rows="10")
                  | ## 文化祭実行プロジェクト
                  | ### 実行委員会
                  | ### レシピ
                  | * [クックパッド](https://cookpad.com/search/%E3%81%9F%E3%81%93%E7%84%BC%E3%81%8D)
                  | * [小麦粉から作るたこ焼き](https://www.otafuku.co.jp/recipe/cook/taco/taco01.html)
                  | ### 食材
                  | * 薄力粉
                  | * 卵
                  | * 牛乳
                  | * タコ
                  | * 天かす
                  | * ソース
                  | * 青のり
                  | * かつお節
                  | * 紅しょうが
                  | * マヨネーズ
                  | * サラダ油
                  | ### 店舗設営
                  | * たこ焼き器レンタル
                  | * フードパック
                  | * 割りばし
                  | * 輪ゴム
                  | * のれん
                  | ### 収益計画
                  | 過去の事例を調べる。  
                  | 8個入りパックの値段をいくらに設定するか？

              .col-lg-6
                small ［プレビュー］
                .px-2.bg-light.preview#preview1
            .row.py-2.d-none#note2
              .col
                .px-2.bg-light.preview#preview2

            .row.py-3.mt-2.bg-light
              .col
                button.btn.btn-primary(type="submit")
                  img.icon(src="../../static/ionicons/save-outline.svg")
                  | &nbsp;更新
                | &nbsp;&nbsp;
                button.btn.btn-primary(type="submit")
                  img.icon(src="../../static/ionicons/refresh-outline.svg")
                  | &nbsp;再読み込み

    //- include ../includes/footer.pug
    footer.py-1.mt-3.bg-dark.text-light
      include ../includes/footer2.pug

      hr
      .container
        .row.align-items-end
          .col-md-2.text-end.py-1
            a.nav-link.px-2.px-md-0(href="step08.html") ← prev
          .col-md-8
            .alert.alert-danger.text-start(role="alert")
              | プロジェクト一覧 step09.
              br
              | 編集スイッチをONにすると、マークダウンエディタで編集できるようになる。
          .col-md-2.text-start.py-1
            a.nav-link.px-2.px-md-0(href="step10.html") next →

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.7.1.min.js")
    script(src="https://cdn.jsdelivr.net/npm/marked/marked.min.js")
    script.
      $('#markdown').keyup(function () {
        var html = marked.parse($(this).val());
        $('#preview1').html(html);
        $('#preview2').html(html);
      });
      $('#edit').change(function () {
        console.log($(this).prop('checked'));
        if ($(this).prop('checked')) {
          $('#note1').removeClass('d-none');
          $('#note2').addClass('d-none');
        } else {
          $('#note2').removeClass('d-none');
          $('#note1').addClass('d-none');
        }
      });
      $(document).ready(function() {
        var html = marked.parse($('#markdown').val());
        $('#preview1').html(html);
        $('#preview2').html(html);
      });
