doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title プロジェクト - Yuimarl
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous")
    link(rel="stylesheet" href="../../static/css/style1020.css")
    link(rel="icon" type="image/x-icon" href="../../static/favicon.ico")
  body
    include ../includes/nav.pug

    main
      .py-3
        .container
          h3.mb-3 プロジェクト
          .pb-2
            ul.nav.nav-tabs
              li.nav-item
                a.nav-link.active(href="#") 基本情報
              li.nav-item
                a.nav-link(href="#") ノート
              li.nav-item
                a.nav-link(href="#") ガントチャート
              li.nav-item
                a.nav-link(href="#") 更新履歴
          form
            // プロジェクト名
            .row.py-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="name") プロジェクト名
              .col-md-9.mb-1
                input.form-control#name(type="text" maxlength="40" value="文化祭実行プロジェクト" disabled)
                //- span 文化祭実行プロジェクト
            // チケットID接頭辞
            .row.py-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="prefix") チケットID接頭辞
              .col-md-9.mb-1
                input.form-control#prefix(type="text" maxlength="10" value="BN" disabled)
                //- span BN
            // メンバー
            .row.py-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="member") メンバー
              .col-md-9.mb-1
                .form-floating
                  table.table.table-hover
                    thead
                      tr
                        th(scope="col") ロール
                        th(scope="col") メールアドレス
                        th(scope="col") 名前
                        //- th(scope="col")
                    tbody
                      tr
                        td オーナー
                        td taro.yamada@mail.com
                        td 山田太郎
                        //- td
                      tr
                        td 管理者
                        td kazuto.tonoma@mail.com
                        td 殿馬一人
                        //- td
                          img.icon(src="../../static/ionicons/settings-outline.svg" title="設定")
                          | &nbsp;
                          img.icon(src="../../static/ionicons/remove-circle-outline.svg" title="削除")
                      tr
                        td メンバー
                        td masami.iwaki@mail.com
                        td 岩鬼正美
                        //- td
                          img.icon(src="../../static/ionicons/settings-outline.svg" title="設定")
                          | &nbsp;
                          img.icon(src="../../static/ionicons/remove-circle-outline.svg" title="削除")
                      tr
                        td 閲覧者
                        td satoru.satonaka@mail.com
                        td 里中智
                        //- td
                          img.icon(src="../../static/ionicons/settings-outline.svg" title="設定")
                          | &nbsp;
                          img.icon(src="../../static/ionicons/remove-circle-outline.svg" title="削除")
            // ガントチャート
            .row.py-2
              label.col-md-3.col-form-label.bg-light.mb-1 ガントチャート
              .col-md-9.mb-1
                .row
                  .col.mb-1
                    .form-check
                      input.form-check-input#holiday(type="checkbox" value="" checked="checked" disabled)
                      label.form-check-label(for="holiday") 日本の祝日を赤表示
                .row.px-2
                  hr
                .row
                  .col.mb-1
                    .form-check
                      input.form-check-input#showno(type="checkbox" value="" checked="checked" disabled)
                      label.form-check-label(for="showno") イテレーション / スプリント 番号を表示
                .row
                  .col-sm-6.mb-2
                    label.form-label(for="startdate") 開始日
                    input.form-control#startdate(type="date" value="2024-09-02" disabled)
                  .col-sm-6.mb-1
                    label.form-label(for="startno") 開始番号
                    input.form-control#progress(type="number" value="1" disabled)
                .row
                  .col.mb-2
                    label.form-label(for="unit") 単位：&nbsp;&nbsp;
                    .form-check.form-check-inline
                      input.form-check-input#w1(name="unit" type="radio" value="w1" checked="checked" disabled)
                      label.form-check-label(for="w1") 1週
                    .form-check.form-check-inline
                      input.form-check-input#w2(name="unit" type="radio" value="w2" disabled)
                      label.form-check-label(for="w2") 2週
                    .form-check.form-check-inline
                      input.form-check-input#w3(name="unit" type="radio" value="w3" disabled)
                      label.form-check-label(for="w3") 3週
                    .form-check.form-check-inline
                      input.form-check-input#w4(name="unit" type="radio" value="w4" disabled)
                      label.form-check-label(for="w4") 4週
            .row.py-3.mt-2.bg-light
              .col-9
              .col-3.text-end
                button.btn.btn-secondary(type="button" data-bs-toggle="modal" data-bs-target="#withdrawModal")
                  img.icon(src="../../static/ionicons/exit-outline.svg")
                  | &nbsp;プロジェクトから離脱
          .modal.fade#withdrawModal(tabindex="-1" aria-labelledby="withdrawModalLabel" aria-hidden="true")
            .modal-dialog
              .modal-content
                .modal-header
                  h1.modal-title.fs-5#withdrawModalLabel プロジェクトから離脱
                  button.btn-close(type="button" data-bs-dismiss="modal" aria-label="Close")
                .modal-body
                  p
                    | プロジェクトから離脱すると、このプロジェクトの情報にアクセスできなくなります。
                    br 
                    | 離脱しますか？
                .modal-footer
                  button.btn.btn-secondary(type="button" data-bs-dismiss="modal") キャンセル
                  button.btn.btn-danger(type="button")
                    img.icon(src="../../static/ionicons/exit-outline.svg")
                    | &nbsp;離脱

    //- include ../includes/footer.pug
    footer.py-1.mt-3.bg-dark.text-light
      include ../includes/footer2.pug

      hr
      .container
        .row.align-items-end
          .col-md-2.text-end.py-1
            a.nav-link.px-2.px-md-0(href="step06.html") ← prev
          .col-md-8
            .alert.alert-danger.text-start(role="alert")
              | プロジェクト一覧 step07.
              br
              | 「プロジェクトから離脱」ボタンを押すと、離脱確認ダイアログが表示される。
          .col-md-2.text-start.py-1
            a.nav-link.px-2.px-md-0(href="step08.html") next →

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.7.1.min.js")
    script.
      $(document).ready(function() {
        new bootstrap.Modal("#withdrawModal").show();
      });
