doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Yuimarl
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous")
    link(rel="stylesheet" href="../../static/css/style0040.css")
    link(rel="icon" type="image/x-icon" href="../../static/favicon.ico")
  body
    include ../includes/nav.pug

    main
      .py-3
        .container
          .row
            h2 お問い合わせ
            p Yuimarl への お問い合わせは、こちらのフォームをご利用ください。
          .row
            h3.mb-3 お問い合わせフォーム
          form
            //- お名前
            .row.py-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="name")
                | お名前&nbsp;
                span.badge.bg-warning.text-dark 必須
              .col-md-9.mb-1
                .form-floating
                  input.form-control#name(type="text" required)
                  label(for="name") お名前を入力してください。
            //- メールアドレス
            .row.py-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="email")
                | メールアドレス&nbsp;
                span.badge.bg-warning.text-dark 必須
              .col-md-9.mb-1
                .form-floating
                  input.form-control#email(type="email" placeholder="mail@example.com" required)
                  label(for="email") 有効な電子メールアドレスを入力してください。
            //- お問い合わせ種類
            .row.py-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="category")
                | お問い合わせ種類&nbsp;
                span.badge.bg-warning.text-dark 必須
              .col-md-9.mb-1
                .form-floating
                  select.form-select#category(name="category")
                    option(value="category1") システムの仕様・運用について
                    option(value="category2") 利用制限の解除について
                    option(value="category3") その他のお問い合わせ
                  label(for="category") お選びください。
            //- お問い合わせ内容
            .row.py-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="message")
                | お問い合わせ内容&nbsp;
                span.badge.bg-warning.text-dark 必須
              .col-md-9.mb-1
                .form-floating
                  textarea.form-control#message(rows="8" name="message" placeholder="問い合わせ内容")
                  label(for="message") ご自由にお書きください。
            //- 確認ボタン
            .row.py-3.mt-2.bg-light
              .col-md-9
                button.btn.btn-primary(type="submit") 確認する

    //- include ../includes/footer.pug
    footer.py-1.mt-3.bg-dark.text-light
      include ../includes/footer2.pug

      hr
      .container
        .row.align-items-end
          .col-md-2.text-end.py-1
            a.nav-link.px-2.px-md-0(href="step01.html") ← prev
          .col-md-8
            .alert.alert-danger.text-start(role="alert")
              | 問合せ step02.
              br
              | 問合せ内容を入力して「確認する」をクリックする。
          .col-md-2.text-start.py-1
            a.nav-link.px-2.px-md-0(href="step03.html") next →

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous")
