doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title チケットを作成 - Yuimarl
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous")
    link(rel="stylesheet" href="../../static/css/style1020.css")
    link(rel="icon" type="image/x-icon" href="../../static/favicon.ico")
  body
    include ../includes/nav.pug

    main
      .py-3
        .container
          h3.mb-3 チケットを作成
          //- ul.nav.nav-tabs
            li.nav-item
              a.nav-link.active(href="#") 基本情報
            li.nav-item
              a.nav-link(href="#") ノート
            li.nav-item
              a.nav-link(href="#") コメント
            li.nav-item
              a.nav-link(href="#") 更新履歴
          form
            // プロジェクト
            .row.py-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="ticket-id") プロジェクト
              .col-md-9.mb-1 文化祭実行プロジェクト
            // チケット名
            .row.pt-1.pb-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="name") チケット名
              .col-md-9.mb-1
                input.form-control#name(type="text" maxlength="40" value="たこやき模擬店" required)
            // 内容
            .row.pt-1.pb-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="message") 内容
              .col-md-9.mb-1
                textarea.form-control#message(rows="3" name="message")
                  | たこやき模擬店を出店するために、やるべきことを検討する。
            // 担当者
            .row.pt-1.pb-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="member") 担当者
              .col-md-9.mb-1
                .form-floating
                  table.table.table-hover
                    thead
                      tr
                        th(scope="col") メールアドレス
                        th(scope="col") 名前
                        th(scope="col")
                    tbody
                      tr
                        td taro.yamada@mail.com
                        td 山田太郎
                        td
                          img.icon(src="../../static/ionicons/remove-circle-outline.svg" title="削除")
                          | &nbsp;
                          img.icon(src="../../static/ionicons/arrow-down-outline.svg" title="下に移動")
                      tr
                        td masami.iwaki@mail.com
                        td 岩鬼正美
                        td
                          img.icon(src="../../static/ionicons/remove-circle-outline.svg" title="削除")
                          | &nbsp;
                          img.icon(src="../../static/ionicons/arrow-up-outline.svg" title="上に移動")
                          | &nbsp;
                          img.icon(src="../../static/ionicons/arrow-down-outline.svg" title="下に移動")
                      tr
                        td satoru.satonaka@mail.com
                        td 里中智
                        td
                          img.icon(src="../../static/ionicons/remove-circle-outline.svg" title="削除")
                          | &nbsp;
                          img.icon(src="../../static/ionicons/arrow-up-outline.svg" title="上に移動")
                  a(href="javascript:clickAddCharge();")
                    img.icon3(src="../../static/ionicons/add-circle-outline.svg" title="担当者を追加")
                  //- span.btn-help &nbsp;: 担当者を追加

                .modal.fade#inChargeModal(tabindex="-1" aria-labelledby="chargeModalLabel" aria-hidden="true")
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        h1.modal-title.fs-5#addMemberModalLabel 担当者を追加
                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="キャンセル")
                      .modal-body
                        .row.py-3
                          .col
                            table.table.table-hover
                              thead
                                tr
                                  th(scope="col") 選択
                                  th(scope="col") ロール
                                  th(scope="col") メールアドレス
                                  th(scope="col") 名前
                              tbody
                                tr
                                  td
                                    input.form-check-input#flexCheckDefault(type="checkbox" value="" checked)
                                  td オーナー
                                  td taro.yamada@mail.com
                                  td 山田太郎
                                tr
                                  td
                                    input.form-check-input#flexCheckDefault(type="checkbox" value="")
                                  td 管理者
                                  td kazuto.tonoma@mail.com
                                  td 殿馬一人
                                tr
                                  td
                                    input.form-check-input#flexCheckDefault(type="checkbox" value="" checked)
                                  td メンバー
                                  td masami.iwaki@mail.com
                                  td 岩鬼正美
                                tr
                                  td
                                    input.form-check-input#flexCheckDefault(type="checkbox" value="" checked)
                                  td 閲覧者
                                  td satoru.satonaka@mail.com
                                  td 里中智
                      .modal-footer
                        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") キャンセル
                        button.btn.btn-primary(type="button") 担当者に追加

            // 開始日 / 終了日
            .row.pt-1.pb-2
              legend.col-form-label.col-md-3.bg-light.mb-1 開始日 / 終了日
              .col-md-9.mb-1
                .row
                  .col-sm-6.mb-2
                    label.form-label(for="startdate") 開始日
                    input.form-control#startdate(type="date" value="2024-09-10")
                  .col-sm-6.mb-1
                    label.form-label(for="enddate") 終了日
                    input.form-control#enddate(type="date")
            // 進捗率
            .row.pt-1.pb-2
              legend.col-form-label.col-md-3.bg-light.mb-1 進捗率
              .col-md-9.mb-1
                .row
                  .col-sm-6.mb-2
                    table
                      tr
                        td
                          input.form-control#progress(type="number" min="0" max="100" value="10")
                        td
                          | &nbsp;%
                  .col-sm-6.mb-1
                    .form-check
                      input.form-check-input#finished(type="checkbox" value="")
                      label.form-check-label(for="finished") 完了済
            // 優先度
            .row.pt-1.pb-2
              legend.col-form-label.col-md-3.bg-light.mb-1 優先度
              .col-md-9.mb-1
                .form-check.form-check-inline
                  input.form-check-input#priority1(name="priority" type="radio" value="priority1")
                  label.form-check-label(for="priority1") 最優先
                .form-check.form-check-inline
                  input.form-check-input#priority2(name="priority" type="radio" value="priority2" checked)
                  label.form-check-label(for="priority2") 高
                .form-check.form-check-inline
                  input.form-check-input#priority3(name="priority" type="radio" value="priority3")
                  label.form-check-label(for="priority3") 中
                .form-check.form-check-inline
                  input.form-check-input#priority4(name="priority" type="radio" value="priority4")
                  label.form-check-label(for="priority4") 低
                .form-check.form-check-inline
                  input.form-check-input#priority0(name="priority" type="radio" value="priority0")
                  label.form-check-label(for="priority0") 未設定
            // 親チケット
            .row.pt-1.pb-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="category") 親チケット
              .col-md-9
                p.my-1
                  a(href="javascript:clickAddParent();")
                    img.icon3(src="../../static/ionicons/add-circle-outline.svg" title="親チケットを追加")
                  //- span.btn-help &nbsp;: 親チケットを追加

                .modal.fade#addParentModal(tabindex="-1" aria-labelledby="addParentModalLabel" aria-hidden="true")
                  .modal-dialog.modal-md
                    .modal-content
                      .modal-header
                        h1.modal-title.fs-5#addMemberModalLabel 親チケットを追加
                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="キャンセル")
                      .modal-body
                        .row
                          label.col-md-3.col-form-label.mb-1(for="email") チケットID
                          .col-md-6.mb-1
                            input.form-control#email(type="text" maxlength="20")
                          .col-md-3.mb-1
                            button.btn.btn-info(type="button") 検索
                        .row.py-3
                      .modal-footer
                        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") キャンセル
                        button.btn.btn-primary(type="button" disabled) 親チケットを追加

            // 子チケット
            .row.pt-1.pb-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="category") 子チケット
              .col-md-9
                //- p.my-1
                  a(href="step01.html")
                    img.icon3(src="../../static/ionicons/add-circle-outline.svg" title="子チケットを追加")
                  span.btn-help &nbsp;: 子チケットを追加

            // 成果物
            .row.pt-1.pb-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="category") 成果物
              .col-md-9.mb-1
                //- button.btn.btn-primary.btn-sm(type="button" data-bs-toggle="modal" title="成果物を追加する" data-bs-target="#exampleModal") ＋
                a(href="step01.html")
                  img.icon3(src="../../static/ionicons/add-circle-outline.svg" title="成果物を追加")
                //- span.btn-help &nbsp;: 成果物を追加

            // ガントチャート
            .row.pt-1.pb-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="category") ガントチャート
              .col-md-9.mb-1
                .form-check
                  input.form-check-input#ganttchart(type="checkbox" value="on")
                  label.form-check-label(for="ganttchart") ガントチャートに表示する

            .row.py-3.mt-2.bg-light
              .col
                button.btn.btn-primary(type="submit")
                  img.icon(src="../../static/ionicons/create-outline.svg")
                  | &nbsp;作成

            // 背景色
            .row.pt-3
              label.col-md-3.col-form-label.bg-light.mb-1(for="category") 背景色
              .col-md-9.mb-1.flexbox
                a(href="javascript:clickColor('info');")
                  .box-info.color-box
                    img.icon.d-none(src="../../static/ionicons/checkmark-outline.svg")
                a(href="javascript:clickColor('primary');")
                  .box-primary.color-box
                    img.icon.d-none(src="../../static/ionicons/checkmark-outline.svg")
                a(href="javascript:clickColor('warning');")
                  .box-warning.color-box
                    img.icon.d-none(src="../../static/ionicons/checkmark-outline.svg")
                a(href="javascript:clickColor('success');")
                  .box-success.color-box
                    img.icon.d-none(src="../../static/ionicons/checkmark-outline.svg")
                a(href="javascript:clickColor('danger');")
                  .box-danger.color-box
                    img.icon.d-none(src="../../static/ionicons/checkmark-outline.svg")
                a(href="javascript:clickColor('secondary');")
                  .box-secondary.color-box
                    img.icon.d-none(src="../../static/ionicons/checkmark-outline.svg")
                a(href="javascript:clickColor('dark');")
                  .box-dark.color-box
                    img.icon.d-none(src="../../static/ionicons/checkmark-outline.svg")
                a(href="javascript:clickColor('light');")
                  .box-light.color-box(style="border: solid 1px #aaa;")
                    img.icon(src="../../static/ionicons/checkmark-outline.svg")

    //- include ../includes/footer.pug
    footer.py-1.mt-3.bg-dark.text-light
      include ../includes/footer2.pug

      hr
      .container
        .row.align-items-end
          .col-md-2.text-end.py-1
            a.nav-link.px-2.px-md-0(href="step07.html") ← prev
          .col-md-8
            .alert.alert-danger.text-start(role="alert")
              | チケット追加 step08.
              br
              | 「親チケットを追加」をクリック。
              br
              | チケットIDで検索を行う。検索を行う範囲は、同じプロジェクト内のみ。
          .col-md-2.text-start.py-1
            a.nav-link.px-2.px-md-0(href="step09.html") next →

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.7.1.min.js")
    script.
      function clickAddCharge() {
        new bootstrap.Modal("#inChargeModal").show();
      }
      function clickAddParent() {
        new bootstrap.Modal("#addParentModal").show();
      }
      $(document).ready(function() {
        new bootstrap.Modal("#addParentModal").show();
      });
