doctype html
html(lang="ja")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title プロジェクトを作成 - Yuimarl
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous")
    link(rel="stylesheet" href="../../static/css/style0045.css")
    link(rel="icon" type="image/x-icon" href="../../static/favicon.ico")
  body
    include ../includes/nav.pug

    main
      .py-3
        .container
          h3.mb-3 プロジェクトを作成
          form
            // プロジェクト名
            .row.py-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="name") プロジェクト名
              .col-md-9.mb-1
                input.form-control#name(type="text" maxlength="40" value="文化祭実行プロジェクト" required)
            // チケットID接頭辞
            .row.py-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="prefix") チケットID接頭辞
              .col-md-9.mb-1
                input.form-control#prefix(type="text" maxlength="10" value="BN" required)
            // メンバー
            .row.py-2
              label.col-md-3.col-form-label.bg-light.mb-1(for="member") メンバー
              .col-md-9.mb-1
                .form-floating
                  table.table.table-hover
                    thead
                      tr
                        th(scope="col") ロール
                        th(scope="col") メールアドレス
                        th(scope="col") 名前
                        th(scope="col")
                    tbody
                      tr
                        td オーナー
                        td taro.yamada@mail.com
                        td 山田太郎
                        td
                  a(href="javascript:clickAddMember();")
                    img.icon3(src="../../static/ionicons/add-circle-outline.svg" title="メンバーを追加")
                .modal.fade#addMemberModal(tabindex="-1" aria-labelledby="addMemberModalLabel" aria-hidden="true")
                  .modal-dialog.modal-lg
                    .modal-content
                      .modal-header
                        h1.modal-title.fs-5#addMemberModalLabel メンバーを検索
                        button.btn-close(type="button" data-bs-dismiss="modal" aria-label="キャンセル")
                      .modal-body
                        .row
                          label.col-md-3.col-form-label.mb-1(for="email") メールアドレス
                          .col-md-6.mb-1
                            input.form-control#email(type="text" maxlength="50")
                          .col-md-3.mb-1
                            button.btn.btn-info(type="button") 検索
                        .row
                          label.col-md-3.col-form-label.mb-1(for="member-name") 名前
                          .col-md-6.mb-1
                            input.form-control#member-name(type="text" maxlength="50")
                          .col-md-3.mb-1
                            button.btn.btn-info(type="button") 検索
                        .row.py-3
                      .modal-footer
                        button.btn.btn-secondary(type="button" data-bs-dismiss="modal") キャンセル
                        button.btn.btn-primary(type="button" disabled) メンバーに追加
            .row.py-3.mt-2.bg-light
              .col-md-9
                button.btn.btn-primary(type="submit")
                  img.icon(src="../../static/ionicons/create-outline.svg")
                  | &nbsp;作成

    //- include ../includes/footer.pug
    footer.py-1.mt-3.bg-dark.text-light
      include ../includes/footer2.pug

      hr
      .container
        .row.align-items-end
          .col-md-2.text-end.py-1
            a.nav-link.px-2.px-md-0(href="step02.html") ← prev
          .col-md-8
            .alert.alert-danger.text-start(role="alert")
              | プロジェクト作成 step03.
              br
              | メンバー検索画面で、メールアドレスまたは名前で検索する。
          .col-md-2.text-start.py-1
            a.nav-link.px-2.px-md-0(href="step04.html") next →

    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous")
    script(src="https://code.jquery.com/jquery-3.7.1.min.js")
    script.
      function clickAddMember() {
        new bootstrap.Modal("#addMemberModal").show();
      }
      $(document).ready(function() {
        new bootstrap.Modal("#addMemberModal").show();
      });
