.flexbox {
  display: flex;
  height: 500px;
  border: 1px solid #ddd;
  padding: 0 !important;
}
.ganttbase {
  flex: auto;
  display: flex;
  flex-direction: column;
}
.ganttframe {
  flex: auto;
  padding: 0 !important;
  position: relative;
  overflow: hidden;
}
.scrollH {
  height: 16px;
  flex-direction: column;
  background-color: #f1f1f1;
  border-top: solid 1px #dcdcdc;
}
.sv1 {
  height: 64px;
  background-color: #dcdcdc;
}
.sv2 {
  flex: auto;
  background-color: #f1f1f1;
}
.sv3 {
  height: 32px;
  background-color: #dcdcdc;
}

.header {
  background-color: #f7f5ed;
  position: absolute;
  overflow: hidden;
}

.line {
  background-color: #82a4c1;
  position: absolute;
}

.dtline {
  background-color: #bdcede;
  position: absolute;
}

.label {
  position: absolute;
  font-size: 10.5pt;
  text-align: center;
}

.caldt {
  position: absolute;
  font-size: 10.5pt;
  text-align: left;
}

.scroll-bar {
  background-color: #f1f1f1;
  position: absolute;
}

.scroll-corner {
  background-color: #dcdcdc;
  position: absolute;
}

.gantt-body {
  background-color: white;
  position: absolute;
  overflow: hidden;
}

.scrollV {
  width: 16px;
  display: flex;
  flex-direction: column;
}

.title { width: 400px; background-color: #cfc; }
.calendar { flex: auto; background-color: #ccf; }
/*
.flex-column {
  -webkit-flex-direction: column;
          flex-direction: column;
}
*/

/*
.cursor-pointer {
  cursor: pointer;
}
*/
