.row.bg-dark.px-2.px-md-0
  nav.navbar.navbar-expand-md.navbar-dark.sticky-top.px-2
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content"
    aria-controls="navbar-content" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar-content
      ul.navbar-nav.me-auto
        li.nav-item.active
          a.nav-link(href="index.html") ホーム
