.container.text-center.pt-1
  ul.nav.justify-content-center
    li.nav-item
      a.nav-link(href="/") ホーム
    li.nav-item
      a.nav-link(href="https://mnitta220.github.io/yuimarl/" target="_blank") 製品ホームページ
    li.nav-item
      a.nav-link(href="#about") 利用規約
    li.nav-item
      a.nav-link(href="/contact") お問い合わせ
    li.nav-item
      a.nav-link(href="https://mnitta220.github.io/" target="_blank") 新田システム事務所
  p(style="color: #a0a0a0")
    small Yuimarl version 1.0.0&nbsp;&nbsp;&nbsp;Copyright &copy; 2024-2025 Masahiro Nitta
